@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.banner{
    padding-top: 100px;
    padding-bottom: 100px;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1{
    margin: 0;
    font-size: 100px;
    color: #8d9dad;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    font-weight: 900;
    margin-bottom: 25px;
}
p{
    margin: 0;
    font-size: 20px;
    color: #8d9dad;
    line-height: 1.7;
}
.about-us{
    padding: 50px;
    background: #ebebeb
}
.row{
    display: flex;
    flex-wrap: wrap;
   
}
.col-1{
    padding: 20px;
    flex-basis: 45%;
    max-width: 45%;
    text-align: left;
}
.col-2{
    padding: 20px;
    flex-basis: 55%;
    max-width: 55%;
}
img{
    max-width: 100%;
}
strong{
    font-size: 14px;
    color: #8D9DAD;
    letter-spacing: 2px;
}
h2{
    color: #5e666f;
    font-weight: 600;
    font-size: 30px;
}
.col-1 p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
.img-1{
    width: 300px;
    border-radius: 15px;
    transform: translate(40px, 40px);
}
.img-2{
    border-radius: 15px;
}
